<div class='ui two column centered grid'>
  <div class="column">

    <div class="ui fluid card">
      <div class="image">
        <%= image_tag(@book.image_url) %>
      </div>
      <div class="content">
        <h1 class="ui header">
          <%= @book.title %>
          <div class='sub header'>
            by <%= @book.author.name %>
          </div>
        </h1>
        <div class="meta">
          <span><%= @book.pages %> pages</span>
        </div>
        <div class="ui divider"></div>
        <div class="description">
          <%= @book.description %>
        </div>
      </div>
    </div>

  </div>
</div>
